body{
    background: url(../images/crystal_image.jpg);
    height: max-content;
    width: max-content;
}
.crystal{
    height: 250px;
    width: 200px;
    display: inline-block;
    margin-top: 20px;
    margin-left: 80px;
    border-radius: 40px;
    border: 4px solid rgb(182, 90, 162);
    }
.crystal:hover {
    border: 6px solid blue;
}
#container{
    margin: 20px;
    padding: 20px;
    margin: auto;
    max-width: 900px;
    width: 70%;
    font-family: fantasy;
    background-color: rgb(182, 90, 162);
    border-radius: 20px;
    margin-top: 20px;
    box-sizing: border-box;
    color: wheat;
    font-size: 20px;
}
#crystals {
    margin: 20px;
    padding: 20px;
    /* margin: auto; */
    max-width: 900px;
}
h3{
    font-size: 25px;
}
.wrapper{
    padding: 10px;
    border: 2px solid blue;
    border-radius: 20px;
}
.h1{
    font-size: 30px;
text-align: center;
}
button {
    border: 3px solid black;
    border-radius: 50px;
    background-color: blue;
    color: wheat;
    font-size: 20px;
    font-family: fantasy;
    width: 80px;
}